# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Editor/OS
.DS_Store
.vscode/
.idea/

# Env vars
.env
